
.create-post h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}  
  
.create-post .all-buttons button {
    margin: 10px;
    border-color: #000 !important;
    color: #000 !important;
    margin-bottom: 25px;
}
  
.create-post .all-buttons button:hover {
    background-color: #fecf0062 !important;
}
.input-group-container{
    box-shadow: 0px 2px 5px rgba(49, 49, 49, 0.623);
}
.create-post .textarea{
    padding: 3%;
     
    border-width:medium;
    margin-bottom: 25px;
    border: 1px solid rgba(49, 49, 49, 0.623);
    background-color: #fff;
    overflow: auto;
}
  
.create-post .flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.privacy-inputs{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}
.checkbox-wrap{
    margin-right: 20px;
}
.tag-input input{
    padding: 10px;
    outline: none;
    border:none;
    border-bottom: 2px solid #000;
    background-color: #eeee;
    width:100%;
}

.tabcontainer{
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 3px 5px rgba(85, 85, 85, 0.788);
}
.submit-button button{
    color: #000;
    border-color: #000;
}
