.enquiry{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.enquiry h3{
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #fece00;
}
.formcard{
    margin-top: 20px;
}
.enquiryForm{
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: auto;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 15px #fecf00b6;
}
.enquiryForm .btn{
    color:black;
    outline: none !important;
    transition: all .5s ease;
}
.enquiryForm .btn:hover{
    background-color: #fece00;
    border-radius: 50px;
    outline: none !important;
    font-weight: 600;
}
@media screen and (max-width:320px){
    .enquiry{
        display: flex;
        flex-wrap: wrap;
    }
    .enquiryForm{
        width: auto;
    }
}