.rightSidebar{
    height: 80vh;
    background-color: rgba(33, 37, 41);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.685);
}
.rightSidebar h3{
    color: #fece00;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #fece00;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
